#> Tri-colour LED
set_io --warn-no-port LED_G 41
set_io --warn-no-port LED_R 40
set_io --warn-no-port LED_B 39

#> PMOD 1
set_io --warn-no-port button_up_1 47
set_io --warn-no-port button_down_1 2
set_io --warn-no-port button_up_2 4
set_io --warn-no-port button_down_2 9

#> PMOD 3
set_io --warn-no-port hsync 34
set_io --warn-no-port vsync 31
set_io --warn-no-port red   45
set_io --warn-no-port green 32
set_io --warn-no-port blue  46

#> PMOD 4 | Switches
set_io --warn-no-port rst 21
